@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", sans-serif;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #feece2;
}
.bmi-calculator {
  width: 800px;
  height: 500px;
  border-radius: 8px;
  padding: 20px;
  background-color: #fff7fc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
}
.box {
  width: 350px;
  background-image: url("./assets/img.jpg");
  background-size: 450px;
  background-repeat: no-repeat;
  background-position: center;
}
.data {
  flex: 1;
  padding: 15px;
}
h1 {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #6f61c0;
  padding: 10px 0;
  margin-bottom: 20px;
}
.input-container {
  margin-bottom: 15px;
}
label {
  display: block;
  margin-bottom: 5px;
  color: #888;
}
input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #ccc;
  font-size: 18px;
  border-radius: 4px;
}
button {
  background-color: #a084e8;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.data button:nth-of-type(2) {
  background-color: rgb(238, 46, 46);
  margin-left: 10px;
}
.data button:nth-of-type(2):hover {
  background-color: red;
}
button:hover {
  background-color: #6f61c0;
}
.result {
  margin-top: 20px;
  padding: 10px;
  border: 2px solid #6f61c0;
  border-radius: 4px;
}
.result p {
  margin: 10px 0;
  color: #555;
}
.result p:first-child {
  color: #6f61c0;
  font-weight: bold;
}
.error {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
}

@media only screen and (max-width:620px) {
  .bmi-calculator {
    width: 520px;
    height: 550px;
    margin: 0 2rem;
  }
  .box {
    width: 250px;
    background-size: 350px;
  }
  h1 {
    font-size: 23px;
  }
  button {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .result{
    margin-bottom: 10px;
    padding: 5px;
    font-size: 13px;
  }
 
}
